[
  {rabbit, [
     {loopback_users, []},
     {default_user, <<"{{CUSTOM_DEFAULT_USER}}">>},
     {default_pass, <<"{{CUSTOM_DEFAULT_PASSWORD}}">>},
     {tcp_listeners, [5672] }
  ]},
  {rabbitmq_web_stomp,
      [ {tcp_config, [{port, 15670},
      {ssl_config, [{port,       15671},
                     {backlog,    1024},
                     {verify,verify_peer},
                     {fail_if_no_peer_cert,true},
                     {certfile,   "/ssl/rabbit-server.cert.pem"},
                     {keyfile,    "/ssl/rabbit-server.key.pem"},
                     {cacertfile, "/ssl/cacert.pem"}]}]}
].
